{% extends "blogz_base.html" %}

{% block content %}
     
    <form class="post_body" method='post'>
         
        <label>  {{post_title}}
            <br>
            <input type="text" name="title" required>
        </label>
           
        <br><br>
        
        <label> {{body}} 
                
        </label>
        <br>
             <textarea name="body" rows="15" cols="30" wrap="physical" name="body" required></textarea>
        <br>
          
        </label>
        </div>
        <input type="submit" value='Submit' />
        <input type= "hidden" name=user_id value ={{user_name}}/>
    </form>

  

    
 
{% endblock %}