<!doctype html>
<html>
    <head>
        <link  rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
            
     </head> 
        
     <title>{{title}}</title>
    
    
<body>
    <span style="margin-left: 250px;">
       
       <a href='/all_users'>Users</a> &nbsp;&nbsp;<a href='/Blog'>All posts</a>&nbsp;&nbsp;<a href='/newpost'>New Post</a>&nbsp;&nbsp;
       <a href='/'>Return to Home Page</a> 
    </span>
    <span style="margin-left:450px;">
            {% if 'user_name' in session %}
                  <a  href= "/logout">Logout</a>  
            {% else %} 
                 <a  href= "/login">Login</a> &nbsp;&nbsp;<a href='/signup'>Sign Up</a>
            {% endif %}
    </span>
    
    <h1 class="page_title" >{{page_title}}</h1>
    
    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul class="post_body">
        {% for category, message in messages %}
            <li class = "{{category}}" >{{message}}</li>
        {% endfor %}
    </ul>
        {% endwith %}

{% block content %}


{% endblock %}

</body>
</html>